.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__links:nth-child(n) {
  list-style-type: none;
}

@media (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}
