.lead__subtitle {
  text-align: center;
  margin: 0;
  padding-left: 172px;
  padding-right: 172px;
  padding-bottom: 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
}
