.cover__title {
  text-align: center;
  margin: 0;
  width: 560px;
  padding-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  color: #ffffff;
}

@media (max-width: 767px) {
  .cover__title {
    width: 248px;
    font-size: 32px;
    padding-bottom: 16px;
  }
}
